@charset "UTF-8";

:root{
    --cor-primaria: #0008ff;
    --cor-secundaria: #bfc8fc ;
    --cor-terciaria: #f8fafcd0 ;
    --cor-quaternaria: #5533c3;
    --cor-quintenaria: #0d4c37 ;
}

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body, html{
    background-color: var(--cor-terciaria);
}

header{
    background-color: var(--cor-primaria);
}

header > h1{
    color: white;
    text-align: center;
    padding: 15px 0;
}

header > h2{
    color: var(--cor-terciaria);
    text-align: center;
    padding-bottom: 10px;
}

#menu-icon{
    background-color: rgb(2, 2, 180);
    color: white;
    display: block;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

#menu-icon:hover{
    background-color: rgb(0, 0, 128);
    cursor: pointer;
}

menu{
    display: none
}

menu > ul{
    list-style-type: none;
}

menu > ul > li > a{
    color: var(--cor-secundaria);
    background-color: var(--cor-quaternaria);
    display: block;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    border-top: 2px solid var(--cor-primaria);
}

menu > ul > li > a:hover{
    background-color: darkblue;
}

main{
    width: 90vw;
    background-color: var(--cor-secundaria);
    margin: auto;
    padding: 10px;
    border-radius: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
}

article > h2{
    color: var(--cor-primaria);
    margin-bottom: 20px;
}

article > p{
    margin-bottom: 1em;
    text-align: justify;
    text-indent: 1.5em;
}

footer{
    background-color: var(--cor-primaria);
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}