@charset "UTF-8"; 

*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to right,#fdd1a8, #d58742);
}

main{
    background-color: white;
    width: 600px;
    padding: 20px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #5c3a1ca0;
    
}

h1{
    color: #d58742;
    text-align: center;
    text-shadow: 1px 2px 3px #65401f;
}

h2{
    color: #0F6466;
}

p{
    text-align: justify;
}